@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
	background-color: pink;
}

.hove {
    transform: translateX(90%);
}

.navhov:hover .hove{
    transform: translateX(0);
    transition: all .4s ease-in;
}

.hov:hover {
	color: pink;
}

.pink {
	color: pink;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes left {
	0% {
		transform: translateX(-10rem);
	}

	100% {
		transform: translateX(0rem);
	}
}

.fade {
	animation: fade 5s infinite ease-in-out;
	font-family: "MIc-32 regular", Sans-serif;
	font-weight: 300;
}

.sli {
	font-family: "MIc-32 regular", Sans-serif;
    font-weight: 300;
    line-height: 92px;
	letter-spacing: 0.8px;
	font-size: 66px;
}

@media (max-width: 764px){
    .sli {
        font-family: "MIc-32 regular", Sans-serif;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.8px;
        font-size: 30px;
    }
}

.left {
	animation: left 0.1s linear;
}

.abt {
	font-family: "Oswald", Sans-serif;
	letter-spacing: 5px;
	font-weight: 400;
}

.par {
	font-family: "Montserrat", Sans-serif;
}

.wim {
	width: 30% !important;
}

.abtpa {
	font-family: "Montserrat", Sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1em;
	letter-spacing: 0.7px;
	color: rgb(118, 118, 118);
}

.abthe {
	font-family: "Montserrat", Sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 1em;

	color: rgb(118, 118, 118);
}

.serv {
	color: rgba(0, 0, 0, 0.68);
	font-family: "Oswald", Sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.9px;
}

.bgGray {
	background-color: rgb(250, 250, 250);
}

.stop {
	color: #000000;
	font-family: "Oswald", Sans-serif;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 9px;
}

.mapouter {
	position: relative;
	text-align: right;
	height: 500px;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 500px;
}

.proj1 {
	background: url("/image/proj1.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj2 {
	background: url("/image/proj2.jpg");
	background-size: cover;
	object-fit: cover;
	background-position: center;
}

.proj3 {
	background: url("/image/hr2.png");
	background-size: cover;
	object-fit: cover;
}

.proj4 {
	background: url("/image/proj4.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj5 {
	background: url("/image/proj5.jpg");
	background-size: cover;
	object-fit: cover;
	background-position: center;
}

.proj6 {
	background: url("/image/k4.png");
	background-size: cover;
	object-fit: cover;
}

.proj7 {
	background: url("/image/proj7.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj8 {
	background: url("/image/proj8.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj9 {
	background: url("/image/proj9.jpg");
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.proj10 {
	background: url("/image/proj10.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj11 {
	background: url("/image/proj11.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj12 {
	background: url("/image/proj12.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj13 {
	background: url("/image/pur1.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj14 {
	background: url("/image/proj14.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj15 {
	background: url("/image/molt5.jpg");
	background-size: cover;
	object-fit: cover;
	background-position: center;
}

.proj16 {
	background: url("/image/proj17.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj17 {
	background: url("/image/proj16.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj18 {
	background: url("/image/proj18.png");    
	background-size: cover;
	object-fit: cover;
}

.proj19 {
	background: url("/image/proj19.jpg");
	background-size: cover;
	object-fit: cover;
}

.proj20 {
	background: url("/image/proj20.png");
	background-size: cover;
	object-fit: cover;
}

.dark {
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.537),
		rgba(0, 0, 0, 0.577)
	);
}

.h {
	height: 70vh !important;
}

.flow {
	overflow: scroll !important;
	width: 90vw !important;
}

.ph {
	color: #000000;
	font-family: "Oswald", Sans-serif;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 5px;
}

.org {
	color: #000000;
	font-family: "Oswald", Sans-serif;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 5px;
}

.pt {
	color: rgba(0, 0, 0, 0.94);
	font-family: "Montserrat", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 2.2em;
	letter-spacing: 1.3px;
}

.side{
    transform: translateX(-200%);
}

@media (max-width: 500px) {
	.side {
		width: 70%;
		height: 100vh;
	}

	.fo {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

[aria-current] {
	color: pink;
}

.Embed {
	width: 20% !important;
	overflow: hidden !important;
}

.instagram-media {
	width: 328px !important;
	overflow: hidden;
}

.hove {
	font-family: "Mic-32 Regular", Sans-serif !important;
	/* font-size: 13px; */
	font-weight: 600;
	letter-spacing: 1.8px;
}

.heas {
	font-family: "Mic-32 Regular", Sans-serif !important;	
	font-weight: 600;
	letter-spacing: 1.8px;
}


.he {
	/* top: -60%; */
	transform: translateY(0);
	transition: all 0.7s;
}

.homPar{
	text-align: center;
    font-family: "Montserrat", Sans-serif;    
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.7px;
}




/* .card:hover .cardText{
    display: flex;
    transform: translateX(0);
    transition: all .1s;
} */


@keyframes leftcard {
	0% {
		transform: translateX(-20rem);
	}

	100% {
		transform: translateX(0rem);
	}
}


.cardText {
    /* animation: leftcard 0.1s ease-in; */
}

.stalk1{
    height: 319px;
    background-image: url("/image/stal2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

.stalk2{
    height: 319px;
    background-image: url("/image/stal1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

.stalk3{
    height: 319px;
    background-image: url("/image/stal3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

.stalk4{
    height: 319px;
    background-image: url("/image/stal4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}


.stalk5{
    height: 319px;
    background-image: url("/image/stal5.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

.stalk6{
    height: 319px;
    background-image: url("/image/stal6.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}


@keyframes ryt {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0);
    }
}

.ryt{
    animation: ryt .5s ease-in;
}

/* overlay stauff */


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.boxes{
    display: block;
    width: 100%;
    height: 50vh;    
    position: relative;
    overflow: hidden;
    /* float: left; */
    margin: 1.5%;
    cursor: pointer;
}
.da-image{
   min-height: 100%;
   width: 100%;
}
.overlay{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    color: #FFF;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}

.container{
    width: 1170px;
    display: block;
    margin: auto;
}